# Этот файл необходим, чтоба Git игнорировал некоторые файлы,
# которые не нужны удаленном репозитории.
# Например, это могут быть файлы настроки нашей IDE, или
# бинарные файлы (*.class), которые появляются после сборки проекта.

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
*.iml
.idea/

### Mac OS ###
.DS_Store